*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    height: 100vh;
}

.slider{
    max-width: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

img{
    width: 100%;
    object-fit: contain;
}

h2,p{
    color: white;
    position: absolute;
    left: 20px;
    bottom: 50px;
}
p{  
    bottom: 50px;  
}

h2{
    bottom: 100px;
}

.album{
    position: relative;
    
}

.invisible{
    display: none;   
}

.active{
    display: block;
}

.arrow-top,
.arrow-bottom{
    color: white;
    position: absolute;
    left: 50%;
    font-size: 30px;
    width: 40px;
    height: 40px;
    padding: 0 5px;   
}

.arrow-top{
    top: 0%;    
}
.arrow-bottom{
    bottom: 0%;
}